<div class="wrap">
  <div class="inner">
    <div class="header">
      <a class="logoLink" href="http://bbdays4.it/" alt="BBDAYS4.IT">
        <img src="../assets/new.png" alt="test" />
      </a>
    </div>

    <div class="center">
      <app-player-result></app-player-result>
    </div>
    <br />

    <div class="inline" *ngIf="!mobile" (window:resize)="getScreenWidth($event)">
      <button class="leftSwipe" (click)="prev()"><i class="fas fa-angle-double-left"></i></button>

      <carousel-component  (onReachEnd)="first()" [lockSlides]="true" #topCarousel>
        <div class="item-carousel" *ngFor="let item of items | async">
          <h4>{{item.name}}</h4>
          <app-results [comp]="item"></app-results>
        </div>
      </carousel-component>

      <button  class="leftSwipe" (click)="next()"><i class="fas fa-angle-double-right"></i></button>
    </div>

   

    

    <div *ngIf="mobile" class="container" (window:resize)="getScreenWidth($event)">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12  srodek" *ngFor="let item of items | async">
          <h4 class="white">
            <b>{{ item.name }}</b>
          </h4>
          <app-results [comp]="item"></app-results>
          <br />
          <br />
        </div>
      </div>
    </div>

  </div>
</div>