<div class="col">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      <span *ngIf="currentCompetition != undefined">{{ currentCompetition.name }}</span>
      <span *ngIf="currentCompetition == undefined">Wybierz konkurencję</span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button *ngFor="let item of items | async" ngbDropdownItem (click)="changeCompetition(item)">
        {{ item.name | json }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="currentCompetition != undefined">
  <app-competition [comp]="currentCompetition"></app-competition>
</div>
