<h4 style="padding: 0 20px;">{{ this._comp.name }}</h4>
<div *ngIf="tree == undefined">
  <form id="addUser" [formGroup]="addUser" (ngSubmit)="onClickSubmit()">
    <input class="scoreInput" type="text" formControlName="nick" placeholder="Nick" />

    <input class="scoreInput" type="submit" value="Dodaj do zawodów" />
  </form>

  <ul>
    <li *ngFor="let item of users">{{ item.nick }}</li>
  </ul>
  <i class="fas fa-medal"></i><i class="fas fa-medal"></i>
  <button
    type="button"
    class="btn btn-success"
    *ngIf="tournamentReady"
    title="Uruchom turniej"
    (click)="launchTournament()"
  >
    Uruchom turniej
  </button>
</div>
<div *ngIf="tree != undefined">
  <div
    style="display: flex;
flex-direction: row;justify-content: center"
    *ngFor="let round of tree.rounds"
  >
    <div *ngFor="let bracket of round">
      <div style="display: flex; flex-direction: row; padding: 16px;">
        <button class="ladderBtnL" (click)="setResult(bracket, 0)">
          {{ bracket.result[0] ? bracket.result[0].nick : 'Empty' }}
        </button>
        <button class="ladderBtnR" (click)="setResult(bracket, 1)">
          {{ bracket.result[1] ? bracket.result[1].nick : 'Empty' }}
        </button>
      </div>
    </div>
  </div>
</div>
