<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  BBQ4.IT
  <button class="logoutButton" *ngIf="afAuth.user | async as user" (click)="onClickLogout()">
    <i class="fa fa-sign-out" style="font-size:20px;color:white"></i>
    Logout
  </button>
</div>

<div *ngIf="afAuth.user | async as user; else showLogin">
  <app-competitions></app-competitions>
</div>
<ng-template #showLogin>
  <div class="loginPanel">
    <form class="loginForm" #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
      <h2>Logowanie</h2>
      <br />
      <input class="loginInput" type="text" name="email" placeholder="Email" ngModel />

      <input class="loginInput" type="password" name="password" placeholder="Password" ngModel />

      <input class="loginInput" type="submit" value="Zaloguj" />
    </form>
    <br/>

    
    <div *ngIf="alertVisible">
        <!-- <p *ngFor="let alert of alerts">
            <ngb-alert [type]="warning" (close)="close(alert)">{{errorMessage}}</ngb-alert>
        </p>
        <p>
          <button type="button" class="btn btn-primary" (click)="reset()">{{errorMessage}}</button>
        </p> -->

        <div #alert class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
            {{alertContent}}
        </div>
    </div>  

  </div>

  
</ng-template>