<div *ngIf="afAuth.user | async as user" class="navbarBg">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a [routerLink]="['/']" routerLinkActive="router-link-active" class="logoLink">
      <img src="../assets/logo.svg" alt="bbq"
    /></a>

    <button
      class="navbar-toggler navbarBg"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse black" [class.collapse]="collapsed" id="navbarContent navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <button
          [class.selected]="item === currentCompetition"
          class="navbarBg btn btn-primary navbar-btn shadow-none"
          *ngFor="let item of items | async"
          ngbDropdownItem
          (click)="collapsed = !collapsed"
          (click)="changeCompetition(item)"
        >
          {{ item.name }}
        </button>
        <button class="navbarBg  navbar-btn shadow-none addCompBtn" (click)="open(content)">
          <i class="fa fa-plus"></i>
        </button>
      </ul>
    </div>
  </nav>
</div>
<br />
<div *ngIf="afAuth.user | async as user; else showLogin">
  <div *ngIf="currentCompetition != undefined">
    <app-competition [comp]="currentCompetition"></app-competition>
  </div>
</div>
<app-footer></app-footer>
<ng-template #showLogin>
  <div class="loginPanel">
    <img class="img-fluid" style="width: 20%;" src="../assets/logo.png" alt="BBQ4.IT" />

    <br />
    <div *ngIf="alertVisible">
      <div #alert class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ alertContent }}
      </div>
    </div>
    <br />
    <form class="loginForm" #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
      <img src="../assets/rekord.png" class="reklog" alt="logo_rekord" />

      <br />
      <input class="loginInput" type="text" name="email" placeholder="Email" ngModel />

      <input class="loginInput" type="password" name="password" placeholder="Password" ngModel />

      <input class="loginInput" type="submit" value="Zaloguj" />
    </form>

    <br />

    <br />
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodawanie konkurencji</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newCompForm" (ngSubmit)="addNewComp()">
      <div class="form-group">
        <label for="name">Nazwa konkurencji</label>
        <input id="name" formControlName="name" class="form-control" placeholder="Nazwa" type="text" />
        <br />
        <label for="route">Scieżka w bazie</label>
        <input
          formControlName="route"
          id="route"
          class="form-control"
          placeholder="Scieżka np. nazwa bez specjalnych znaków i spacji"
          type="text"
        />
        <br />
        <label for="type">Typ konkurencji</label>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="type">
          <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="normal" /> Zwykły </label>
          <label ngbButtonLabel class="btn-primary"> <input ngbButton type="radio" value="ladder" /> Turniejowy </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addNewComp()">Dodaj</button>
  </div>
</ng-template>
