<div class="col">
  <div
    *ngIf="alertVisible"
    class="{{ alertType === 'success' ? 'alert alert-success' : 'alert alert-warning' }}"
    role="alert"
  >
    {{ alertContent
    }}<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeWarning()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form id="addScoreForm" [formGroup]="addScore" (ngSubmit)="onClickSubmit()">
    <input class="scoreInput" type="text" formControlName="nick" placeholder="Nick" />

    <input class="scoreInput" type="number" formControlName="score" placeholder="Punkty" />

    <input class="scoreInput" type="submit" value="Dodaj" />
  </form>
  <div *ngIf="results != undefined">
    <table class="table table-striped">
      <!-- Nick Column -->
      <thead>
        <tr>
          <th scope="col" sortable="nick" (sort)="onSort($event)">Nick</th>
          <th scope="col" sortable="score" (sort)="onSort($event)">Score</th>
          <th style="text-align: center">More</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of results | async">
          <td>{{ item.nick }}</td>
          <td>{{ item.score }}</td>
          <td style="text-align: center">
            <span class="deleteBtn" (click)="open(content, item)"
              ><i class="fa fa-ellipsis-h" style="font-size:20px;"></i
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
  </div>
  <div style="position: fixed;width: 100%;   bottom: 64px; margin: 0 auto; text-align: center">
    <button type="button" class="btn btn-outline-danger" (click)="deleteCompetition()">Usuń konkurencję</button>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edycja wyniku</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div
      class="form-group"
      style="display: flex; flex-direction: column; justify-content: stretch; align-content: stretch;margin: none; padding: none"
    >
      <form
        style="display: flex; flex-wrap: wrap;flex-direction: column; "
        [formGroup]="updateScoreForm"
        (ngSubmit)="updateScore()"
      >
        <input class="scoreInput" type="text" formControlName="nick" placeholder="Nick" />

        <input class="scoreInput" type="number" formControlName="score" placeholder="Punkty" />
        <div style="flex: 1; padding: 8px; flex-direction: column; width: 100%">
          <span>Data dodania: {{ currentItem.added }}</span>
          <br />

          <span>Dodane przez: {{ currentItem.postedBy }}</span>
        </div>

        <input class="scoreInput" type="submit" value="Zapisz" />
      </form>

      <button class="deleteScoreBtn" (click)="deleteScore()">Usuń wpis</button>
    </div>
  </div>
</ng-template>
