<div class="col">
  <form id="addScoreForm" [formGroup]="addScore" (ngSubmit)="onClickSubmit()">
    <input class="scoreInput" type="text" formControlName="nick" placeholder="Nick" />

    <input class="scoreInput" type="number" formControlName="score" placeholder="Punkty" />

    <input class="scoreInput" type="submit" value="submit" />
  </form>
  <div *ngIf="results != undefined">
    <table class="table table-striped">
      <!-- Nick Column -->
      <thead>
        <tr>
          <th scope="col" sortable="nick" (sort)="onSort($event)">Nick</th>
          <th scope="col" sortable="score" (sort)="onSort($event)">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of results | async">
          <td>{{ item.nick }}</td>

          <!-- Score Column -->

          <td>{{ item.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
