/* You can add global styles to this file, and also import other style files */
.competitionList {
  list-style: none;
}
.competitionList li {
  float: left;
  margin: 8px;
}
body {
  background-color: transparent;
}
.logoutButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  right: 10px;
}
.loginPanel {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: stretch;
}
.loginForm {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-content: space-between;
  background: #ffffff;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
.loginInput {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#addScoreForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
  box-shadow: none;
  align-content: space-around;
}
.scoreInput {
  flex: 1;
  margin: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.deleteScoreBtn {
  flex: 1;
  margin: 8px;
  padding: 8px;
  border: 0.1px solid #444;
  border-radius: 4px;
  background-color: tomato;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
/* .navbar2 {
  background-color: #555555;
  height: 60px;
  color: white;
  font-size: 20px;
} */
.logoutButton {
  background: transparent;
  color: white;
  position: absolute;
  right: 10px;

}
.btn {
  border-color: #555555;
}
.btn-outline-primary {
  background-color: #777777;
  color: white;
}
.buttonss {
  margin: 0 auto;
  color: white;
}

.deleteBtn {
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s ease;
}
.deleteBtn:hover {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.12);
}
.deleteBtn:active {
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  width: 75px;
  height: auto;
}
#dropdownBasic1 {
  background-color: #666666;
  border-color: #333333;
}

.reklog {
  margin: 0 auto;
  height: auto;
  width: 150px;
}
.comp {
  width: 300px;
  font-size: 20px;
}

.bt {
  background: #666666;
  color: #fdfdfd;
  min-height: 35px;
  margin: 0;
  border-radius: 3px;
  border: 0;
  line-height: 35px;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
  width: 300px;
}

a.bt {
  display: inline;
  padding: 7px 10px 7px 10px;
}

.bt:hover {
  background: #ffffff;
}

@media only screen and (max-width: 480px) {
  .bt {
    width: 100%;
  }

  a.bt {
    display: block;
    padding: 0;
  }
}
.tabelBg {
  background-color: #ffffff;
}
.testowa {
  position: absolute;

  margin-left: auto;
  margin-right: auto;
}
.black {
  color: #111111;
  margin: 5px;
}
.navbarButton {
  color: white;
  font-size: 18px;
  width: 80%; 
  text-align: center;
  margin: auto;
}
.navbarBg {
  color: white;
  border-radius: 10px
}
.footerMy {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333333;
  text-align: center;
  color: white;
  width:100%;
  
}
table {
  padding-bottom: 100px;
}
.loginPanelLogo {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
}
.btn:focus, .btn:active {
  background-color:white !important;
  border-color: orangered !important;
  outline: 0 !important;
  color: #111111 !important;
}

.dropdown-item:visited {
  background-color: white !important;
}

button.selected{
  background-color: white;
  color: #111111;
}

nav[aria-selected="true"] {
  background: #ffffff !important;
}
