/* You can add global styles to this file, and also import other style files */
.competitionList {
  list-style: none;
}
.competitionList li {
  float: left;
  margin: 8px;
}
body {
  background-color: transparent;
}

.logoutButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  right: 10px;
}
.loginPanel {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: stretch;
}
.loginForm {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-content: space-between;
  background: #ffffff;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
.loginInput {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#addScoreForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
  box-shadow: none;
  align-content: space-around;
}
.scoreInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.navbar {
  background-color: #555555;
  height: 60px;
  color: white;
  font-size: 20px;
}
.logoutButton {
  background: transparent;
  color: white;
}
.btn {
  border-color: #555555;
}
.btn-outline-primary {
  background-color: #777777;
  color: white;
}
.buttonss {
  margin: 0 auto;
  color: white;
}
#dropdownBasic1
{
    background-color: #666666;
    border-color: #333333;
}